node_modules/
dist/
user_data/
.env
config.json
facebook.db
facebook.db-journal
Facebook-post-Auto-Comment-Tools-For-Facebook/
*.log

# Data sensitif - jangan pernah di-commit
comment_template.txt
assets/
